body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    padding: 2px;
    background-color:  #6896ae;
    text-align: end;
    color: white;
    font-size: 10px;
    padding-right: 17px;
    border-radius: 2px ;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 19px;
    
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    align-items: center;
}
.nav-h1{
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.list ul{
    display: flex;
    gap: 40px;
}
ul li{
    list-style-type: none;
}
.content{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
.icon-nav{
    margin-top: 8px;
    display: flex;
    gap: 15px;
}
.btn{
    margin-top: 8px;
    width: 100px;
    height: 30px;
    font-size: 10px;
    border-radius: 7px;
    background-color:  #76a0b6;
    color: white;
    border:none;
}
.bg-image-header{
    background-color: #76a0b6;
    
}
.bg-image{
     background-image: url('work-pics.jpg');
  background-size: 60%;  
  background-position: center; 
  background-repeat: no-repeat;
   height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-text{
    text-align: center;
    color: white;
}
.bg-span{
    font-size: 4px;
    font-family: 'Times New Roman', Times, serif;
}
.bg-h1{
font-size: 15px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: oblique;
}
.bg-p{
    font-size: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.flex-header{
background-color: aliceblue;
    padding: 30px;
}
.text-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    
}
.text-flexs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin-top: 10px;
    
}
.item-text{
    box-shadow: 0px 2px 2px 2px white;
    background-color: white;
    padding: 30px;
    height: 240px;
}
.item-texts{
    box-shadow: 0px 2px 2px 2px white;
    background-color: white;
    padding: 25px;
    height: 200px;
}
.text-h1{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.text-span{
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
 
}
.btn-flex{
    margin-top: 15px;
    display: flex;
    gap: 40px;
    align-items: center;
}
.btns{
    margin-top: 8px;
    width: 100px;
    height: 30px;
    font-size: 10px;
    border-radius: 7px;
   background-color: #6896ae;
   color: white;
    border:none;  
}
.btn-p{
    font-size: 7px;
}
.images{
    display: flex;
    max-width: 300px;
    max-height: 100px;
    min-width: 300px;
    min-height: 300px;
    box-shadow: 0px 2px 2px 2px  #73a6b3;
}

.image{
    display: flex;
    max-width: 260px;
    max-height: 250px;
    min-width: 260px;
    min-height: 250px;
    box-shadow: 0px 2px 2px 2px  #73a6b3;
}
.text-spans{
    font-size: 5px; 
}

.second-bg-image{
    background-color: #6896ae;
    padding: 0px;
    
}
.second-bg{
  background-image: url('work-image2.jpg');
  background-size: 70%;  
  background-position: center; 
  background-repeat: no-repeat;
   height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-bg-txt{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: white;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
.main-footer-p{
margin-top: 0px;
margin-bottom: 0px;
font-size: 7px;

}
.main-footer-h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}
.list-item-ps{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 12px;
}
.list-item-p{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 12px;

}
.footer-p{
    margin-top: 14px;
    font-size: 12px;
}
.footer-txt{
    margin-top: 15px;
    font-size: 12px;
}






